 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 html, body {
    width: 100%;
    height:100%;
}

header, section, footer {
    padding-left: 2%;
    padding-right: 2%;
}

header {
    height: 10%;
    display: flex;
    background-color: #1e1e1e;
    color: #fcfcfc;
    align-items: center;
}

h1 {
    vertical-align: bottom;
    padding-top: 0.6rem;
    margin-right: 2.4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    width: 18%;
}

.form-search {
    display: flex;
    flex-direction: row;
}

.form-search input, select{
    outline: none;
    border: none;

}

.label-field {
    position: absolute;
    top: 0.5rem;
    font-size: 0.9em;
    color:  #ccc;
    font-family: monospace;
}

.input-group {
    position: relative;
    padding-top: 1.4rem;
    display: inline-block;
    min-width: 5rem;
}

#field {
    margin-right: 0.7rem;
}

.btn-search {
    margin-left: 1em;
    padding-right: 10px;
    background-color: darkturquoise;
    border: 4px darkturquoise;
    padding: 4px;
    border-radius: 3px;
}

.btn-search:hover {
    background-color: #0fe5e9;
    border: 4px #0de2e6;
}

section {
    height: 83%;
}

.table-content {
    height: 94%;
    width: 100%;
    overflow: scroll;
    padding: 0.6% 0 2% 0;
}

td {
    white-space: pre;
    padding-left: 1em;
    padding-right: 1em;
}

th {
    text-align: left;
    text-indent: 1em;
}

tr:nth-child(even) {
    background-color: #676767;
    color: rgb(255, 255, 255);

}

 tr:nth-child(odd) {
    background-color: #FFF;
}


#count {
    text-align: right;
    margin-top: 0.1em;
    color: #282828;
}

footer {
    height: 7%;
    background-color: #282828;
    color: #fcfcfc;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.7em;
}

